/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
  }
  
  /* Body styles */
  body {
    /*background-image: ;*/
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Dark background color */
    color: #fff; /* White text color */
    line-height: 1.6;
    font-size: 16;
  }
  nav {
    font-size: 20px;
  }
  /* Header styles */
  header {
    background-color: #282c37;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Main styles */
  main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Section styles */
  section {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 20px;

  }

  /* Individual section styles*/
  #my-intoduction-to-video-games {
    background-color: #3c4256;
  }

  #favorite-video-games {
    background-color: #3c4256;
  }

  #what-is-video-games {
    background-color: #3c4256;
  }

  #other-games {
    background-color: #3c4256;
  }

  #how-to-play-melee {
    background-color: #3c4256;
  }

  #ai-prompts {
    background-color: #3c4256;
  }
  /* Heading styles */
  h1, h2, h3 {
    margin-bottom: 10px;
    color: rgb(230, 246, 11); /* Reddish color for headings */
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 29px;;
  }

  h3 {
    font-size: 22px;
  }
  
  /* Paragraph styles */
  p {
    margin-bottom: 10px;
  }
  
  /* Link styles */
  a {
    color: #4caf50; /* Green link color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff7f50; /* Light coral on hover */
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  .image-paragraph-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    margin-bottom: 20px;
}

/* Style the image */
.image-paragraph-container img {
    max-width: 100%;
    margin-right: 20px; /* Add spacing between image and paragraph */
}

/* Paragraph styles */
.image-paragraph-container p {
    margin-bottom: 0; /* Remove bottom margin for paragraph */
    margin-left: 20px;
    max-width: calc(100% - 400px);
}

/* Style the image placeholder */
.image-placeholder {
  width: 200px; /* Set a width for the placeholder */
  height: 150px; /* Set a height for the placeholder */
  background-color: #ccc; /* Light gray background color */
  border-radius: 5px; /* Add rounded corners */
}


  