body {
    background-color: #5f9ea0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header h3{
    color: #2366ac;
}
nav{ 
    color: rgb(242, 243, 204);
    text-decoration: none;
}
a {
    color:#2366ac;
    text-decoration: none;
}
nav a{
    color: rgb(242,243,204);
}

a:hover {
    color:darkmagenta;
}
main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%
}
p{
    margin-left: 20%;
    margin-right: 20%;
}
h1{
    color: #2366ac;
}
h2 {
    color: #2366ac;
    text-align: center;
}
img{
    width: 60%;    
}
figure{
    text-align: center;
}
figcaption{
    font-style: italic;
}
footer p a{
    color: rgb(242, 243, 204);
}

#catagory-row{
    background-color: gray;
}
tr:nth-child(even){
    background-color: white;
}
tr:nth-child(odd){
    background-color: rgb(186, 165, 165);
}
thead{
    background-color: #2366ac;
}
table{
    text-align: center;
    margin: auto;
    border: 2px solid hsl(0, 0%, 0%);
}
th, td {
    border: 1px solid hsl(0, 0%, 0%);
    padding: 10px;
}



form{
    font-weight: bold;
    text-align: center;
}
button{
    background-color: black;
    color: white;
}
label{
    padding-right: 8px;
}
fieldset{
    border-style: none;
}