body {
    background-color: #5f9ea0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{ 
    color: rgb(242, 243, 204);
    text-decoration: none;
}
nav a{
    color: rgb(242,243,204);
}

a:hover {
    color:darkmagenta;
}
main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%
}
p{
    margin-left: 20%;
    margin-right: 20%;
}
h1{
    color: #2366ac;
}
h2 {
    color: #2366ac;
    text-align: center;
}
img{
    width: 60%;    
}
figure{
    text-align: center;
}
figcaption{
    font-style: italic;
}
table{
    text-align: center;
    margin: auto;
}
footer p a{
    color: rgb(242, 243, 204);
}
