input{
    text-align: left;
}
body{
    background-color: green;
}
div{
    border-color: black;
    border-bottom: 5px;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
button{
    color: black;
    background-color: rgb(211, 209, 209);
}
.border{
    background-color: grey;
}
.color{
    background-color: gray
}