body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #bcdfc0;
    color: #2e3a55;
    /* Add complementary colors to the sides */
    background-image: linear-gradient(to right, #bcdfc0, #6f97ae, #bcdfc0);
}

header {
    text-align: center;
    margin-bottom: 40px;
}
#paper_background {
    background-color: rgb(224, 241, 255);
    padding-left: 20px;
    padding-right: 20px;
}
nav {
    margin-top: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #09432a;
}

main {
    margin-bottom: 40px;
}

h1, h2, h3 {
    margin-top: 20px;
    color: #333;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-style: italic;
    color: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid #000000;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #acb0e6;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}