<nav>
    <a href="https://webpages.charlotte.edu/jdormady/">Charlotte.edu</a>
    ||
    <a href="https://github.com/jdormadyUNCC">GitHub repository</a>
    ||
    <a href="https://jdormadyuncc.github.io/">Github Pages</a>
    ||
    <a href="https://jdormadyuncc.github.io/itis3135/">GitHub Course page</a>
    ||
    <a href="https://www.freecodecamp.org/jdormadyUNCC">FreeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/jdormadyUNCC">Code Academy</a>
    ||
    <a href="https://www.linkedin.com/in/jacobdormadyuncc/">Linkedin</a>
</nav>
<p>Page Built by <a href="jollydog.com/">Jolly Dog Designs</a>&copy; 2024</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0; width:88px; height: 31px;" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
</a>

<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>

<a href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/jdormady/itis3135/hobby/index.html" id="validation_link_accessibility">
    <img style="border:0; width:88px; height:31px;" src="images/button_validation_wcag.png" alt="Valid Accessibility!">
</a>
<script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=?uri=" + location.href);
    document.getElementById("validation_link_accessibility").setAttribute("href", "https://wave.webaim.org/report#/" + location.href);

</script>