<h1>Jacob Dormadys Jolly Dog || ITIS3135</h1>  
        <nav>
            <a href = "./">Home</a>
            ||
            <a href = "introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="tables.html">Tables</a>
            ||
            <a href="forms.html">Forms</a>
            ||
            <a href="about.html">About</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="firstscripts.html">First Scripts</a>
            ||
            <a href="calculator.html">Calculator</a>
            ||
            <a href="sketch_js.html">Sketch JS</a>
            ||
            <a href="project_overview.html">Project Overview</a>
            ||
            <a href="projectPage/project_main.html">Project Page</a>
        </nav> 
        <h3>Other Pages</h3>
        <nav>
            <a href="stuffs/$hahAH AH$.htm">Cool Webpage</a>
            ||
            <a href="hobby/index.html">hobby</a>
        </nav>