*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #B9BAA3;
    
}
footer{
    text-align: center;
}
a {
    text-decoration: none;
}
p {
    color:rgb(59, 108, 0);
    background-color: #D6D5C9;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20%;
    margin-left: 20%;
}
header , h2{
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20%;
    margin-left: 20%;
    color:rgba(117, 49, 0, 0.856)
    
}


ul {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20%;
    margin-left: 20%;
    color: #Ba2C73;
}


/* other colors
light red #A22C29
dark red #902923
sky blu  #3772FF
yello FDCA40
light grey #E6E8E6